html
    head
        title Task 2
    body
        a(href='/') Go back
        br
        button(style='margin-top: 20px')#getVariants Get variants
        br
        button(style='margin-top: 20px')#getVotes Get votes
        br
        form(method='POST', action='/task_2/vote', style='margin-top: 20px; display: none')
            div(style='display: flex; flex-direction: column')
            button(type='submit', style='margin-top: 20px') Submit form

        dl#votes

    script(src='/task_2/index.js')
