html
    head
        title Task 3
    body
        a(href='/') Go back
        br
        br
        a(href='/task_3/download', download='votes.json') Download json
        br
        br
        a(href='/task_3/download', download='votes.html') Download html
        br
        br
        a(href='/task_3/download', download='votes.xml') Download xml
